---
title: Eon 2
description: Multipurpose Jekyll theme.
url: https://eon.unbound.studio
baseurl: 
lang: en
logo: logo-dark.svg
logo_light: logo-light.svg
permalink: "/:title/"
date_format: "%b %-d, %Y"
uploads: "/uploads/"
template: base
paginate: "6"
paginate_path: "/blog/:num/"
author:
  name: Pete Seth
  avatar: avatar-tom.png
  title: Support
  bio: I am the CEO of this company, loved by everyone, just plain awesome so you
    want to follow me all the time.
  url: 
  email: info@blacompany.com
  website: 
  facebook: https://www.facebook.com/
  flickr: 
  dribbble: 
  github: 
  googleplus: 
  instagram: https://www.instagram.com/
  linkedin: 
  pinterest: 
  twitter: 
  vimeo: 
  youtube: 
authors:
  john:
    name: John Brown
    title: Support
    avatar: avatar-john.png
  evan:
    name: Evan Wells
    title: Support
    avatar: avatar-evan.png
  sara:
    name: Sara Galen
    title: Lead Developer
    avatar: avatar-sara.png
  alex:
    title: Design Engineer
    name: Alex Koch
    avatar: avatar-alex.png
  daniel:
    title: Developer
    name: Daniel Shultz
    avatar: avatar-daniel.png
  tom:
    title: Developer
    name: Tom Farrell
    avatar: avatar-tom.png
navbar:
  layout: default
  color: dark
  animation: true
  sticky: true
  search: false
footer:
  style: center
  layout: columns
  copyright: Made by <a href="https://unbound.studio/">Unbound Studio</a> in Mexico
    City.
mailchimp:
  form_action: "0"
  hidden_name: "0"
google_analytics: 
google_maps_api_key: AIzaSyDozvEBl_XAzNqSPT2y1_hlU19REsmxhTE
disqus:
  shortname: 
instagram_accesstoken: 9787042989.1677ed0.1dd0f134cfe84e1d88a05b9afbedec3c
donations:
  paypal:
    id: 
    navbar: 
social_share:
  twitter: true
  facebook: true
  linkedin: true
  pinterest: true
  reddit: true
social_networks:
  email: info@blacompany.com
  website: 
  facebook: https://www.facebook.com/
  flickr: 
  dribbble: 
  github: 
  googleplus: 
  instagram: https://www.instagram.com/
  linkedin: 
  pinterest: 
  twitter: 
  vimeo: 
  youtube: 
markdown: kramdown
highlighter: rouge
kramdown:
  toc_levels: "2"
plugins:
- jekyll-paginate
- jekyll-feed
- jekyll-seo-tag
- jekyll-gist
- jekyll-sitemap
- jemoji
exclude:
- vendor
- ".bundle"
- ".sass-cache"
- config
- Gemfile
- Gemfile.lock
- node_modules
- log
- tmp
- Rakefile
- package.json
- CHANGELOG
- LICENSE
- README
- "/docs"
sass:
  style: compressed
collections:
  blocks:
    output: false
  sidebars:
    output: false
  faqs:
    output: false
  portfolio:
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    section: large
    sidebar:
      right: blog
    comments: 
    share: true
    related: true
    mailchimp: true
    navbar:
      transparent: true
      transparent_light_color: true
    header:
      layout: center
      background_overlay: rgba(0, 0, 0, 0.5)
      color: light
      header_size: large
      heading_size: medium
      parallax: true
- scope:
    path: ''
    type: pages
  values:
    layout: page
- scope:
    path: ''
    type: portfolio
  values:
    layout: page
