{% if include.section -%}
<div class="uk-section uk-section-large uk-section-{{ include.section | default: 'default' }}{% if include.padding == 'remove-bottom' %} uk-padding-remove-bottom{% endif %}">
  <div class="uk-container{% if include.layout == 'center' %} uk-container-small{% endif %}">
{%- endif -%}
    {% assign block = site.blocks | where:"slug", include.id | first %}
    {% if include.type == 'center' %}
      <div class="uk-text-center">
        <h2>{{ block.title }}</h2>
        <div class="uk-margin-medium-top">{{ block.content }}</div>
        {% if block.icon %}
          <img class="uk-margin-medium-top icon" src="/assets/icons/{{ block.icon }}" alt="{{ block.title }}">
        {% elsif block.image %}
          <img class="uk-margin-medium-top" data-src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}" data-uk-img data-width data-height>
        {% endif %}
      </div>
    {% elsif include.type == 'content' %}
      <div class="uk-margin-medium-top">{{ block.content }}</div>
    {% else %}
      <div class="uk-grid-large uk-grid-match uk-flex uk-flex-middle" data-uk-grid>
        <div class="uk-width-{{ page.header.layout | default: '1-1' }}@m">
          <h3 class="">{{ block.title }}</h3>
          <div class="">{{ block.content }}</div>
        </div>
        <div class="uk-width-expand@m" data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
          <div>
            {% if block.icon %}
              <img class="icon" src="/assets/icons/{{ block.icon }}" alt="{{ block.title }}">
            {% elsif block.image %}
              <img class="uk-margin-medium-top" data-src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}" data-uk-img data-width data-height>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
{% if include.section %}
  </div>
</div>
{% endif %}
