{% assign template = page.template | default: site.template %}

{% if section.navbar.layout != empty %}
  {% assign navbar_layout = section.navbar.layout %}
{% else %}
  {% assign navbar_layout = site.data.options.[template].navbar.layout %}
{% endif %}

{% if section.navbar.transparent != empty %}
  {% assign transparent = section.navbar.transparent %}
{% else %}
  {% assign transparent = site.data.options.[template].navbar.transparent %}
{% endif %}

{% if section.navbar.transparent_light_color != empty %}
  {% assign transparent_light_color = section.navbar.transparent_light_color %}
{% else %}
  {% assign transparent_light_color = site.data.options.[template].navbar.transparent_light_color %}
{% endif %}

{% if section.navbar.light_color != empty %}
  {% assign color = section.navbar.light_color %}
{% else %}
  {% assign color = site.data.options.[template].navbar.light_color %}
{% endif %}

{% if section.navbar.sticky == true %}
  {% assign sticky = true %}
{% elsif section.navbar.sticky != false %}
  {% if site.data.options.[template].navbar.sticky %}
    {% assign sticky = true %}
  {% else %}
    {% assign sticky = false %}
  {% endif %}
{% endif %}

{% if section.navbar.scroll_up %}
  {% assign scroll_up = true %}
{% elsif section.navbar.scroll_up != false %}
  {% if site.data.options.[template].navbar.scroll_up %}
    {% assign scroll_up = true %}
  {% else %}
    {% assign scroll_up = false %}
  {% endif %}
{% endif %}

{% if section.navbar.animation %}
  {% assign animation = true %}
{% elsif section.navbar.animation != false %}
  {% if site.data.options.[template].navbar.animation %}
    {% assign animation = true %}
  {% else %}
    {% assign animation = false %}
  {% endif %}
{% endif %}

{% if page.layout =='post' and page.header.background_image %}
  {% assign background_image = page.header.background_image %}
{% elsif page.layout =='post' and page.image %}
  {% assign background_image = page.image %}
{% else %}
  {% assign background_image = section.background.image %}
{% endif %}
<div class="uk-position-relative{% if background_image %} uk-background-{{ section.background.align | default: 'center-center' }} uk-background-cover{% endif %}{% if section.background.style != 'custom' %} uk-background-{{ section.background.style | default: 'default' }}{% endif %}" 
  style="{% if section.background.style == 'custom' %}background-color: {{ section.background.color }};{% endif %}{% if background_image %}background-image: url({{ background_image | absolute_url }});{% endif %}"{% if section.height %} data-uk-height-viewport{% endif %}>
  {%- if section.background.video -%}
  <div class="uk-position-cover uk-cover-container">
    <video autoplay loop muted playsinline data-uk-cover>
      <source src="{% if section.background.video contains 'http' %}{{ section.background.video }}{% else %}{{ site.uploads | absolute_url }}{{ section.background.video }}{% endif %}" type="video/mp4">
    </video>
  </div>
  {%- endif -%}

  {%- if section.background.overlay_color != empty -%}
  <div class="uk-position-cover" style="background: {{ section.background.overlay_color }}; opacity: {{ section.background.overlay_opacity | default: '0.6' }}"></div>
  {%- endif -%}

  {% if sticky %}
    <div data-uk-sticky="{% if scroll_up %}show-on-up: true; {% endif %}{% if animation %}animation: uk-animation-slide-top; top: 200; {% endif %}sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky navbar-background{% if light_color %} uk-light{% endif %}; cls-inactive: {% if transparent %}uk-navbar-transparent{% if transparent_light_color %} uk-light{% endif %}{% else %} navbar-background uk-dark{% endif %}">
      <nav class="uk-navbar-container">
        {% if navbar_layout == 'center' %}
          {% include partials/navbar-center.html %}
        {% else %}
          {% include partials/navbar-default.html %}
        {% endif %}
      </nav>
    </div>
  {% else %}
    <nav class="uk-navbar-container {% if transparent %}uk-navbar-transparent{% if transparent_light_color %} uk-light{% endif %}{% else %} navbar-background {% if light_color %} uk-light{% endif %}{% endif %}">
      {% if navbar_layout == 'center' %}
        {% include partials/navbar-center.html %}
      {% else %}
        {% include partials/navbar-default.html %}
      {% endif %}
    </nav>
  {% endif %}

  {% if section.header != empty %}
  <div class="uk-position-relative uk-container{% if section.container %} uk-container-{{ section.container }}{% endif %}{% if section.height %} uk-flex uk-flex-middle{% endif %}"{% if section.height %} data-uk-height-viewport="offset-top: true"{% endif %}>
    <div class="uk-section uk-section-{{ section.header_size | default: 'medium' }}{% if section.padding_remove != 'none' %} uk-padding-remove-{{ section.padding_remove }}{% endif %} uk-width-1-1{% if section.light_color %} uk-light{% endif %}"{% if section.parallax %} data-uk-parallax="y: 100;"{% endif %}>
      {% if section.layout == '1-1' %}
        <div class="uk-flex uk-text-center uk-flex-middle uk-flex-center">
          <div class="uk-width-1-1">
            {% if section.container_one.title != empty %}
              <h1 class="uk-heading-{{ section.heading_size | default: 'medium' }}">{{ section.container_one.title | markdownify }}</h1>
            {% endif %}
            {% if section.container_one.subtitle != empty %}
              <div class="uk-text-lead">{{ section.container_one.subtitle | markdownify }}</div>
            {% endif %}
            {% if section.container_one.content != empty %}
              <div{% if section.container_one.title != empty %} class="uk-margin-medium-top"{% endif %}>
                {% if section.container_one.content contains '{' and section.container_one.content contains '}' %}
                  {% assign slug = section.container_one.content | remove: '{' | remove: '}' %}
                  {%- assign block = site.blocks | where:"slug", slug | first -%}
                  {{ block.content }}
                {% else %}
                  {{ section.container_one.content | markdownify }}
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% elsif section.layout == '2-3' or section.layout == '1-2' or section.layout == '1-3' or section.layout == '5-6' %}
        <div class="uk-grid-large uk-flex uk-flex-middle uk-flex-center@m" data-uk-grid>
          <div class="uk-width-{{ section.layout | default: '2-3' }}@m">
            {% if section.container_one.title != empty %}
              <h1 class="uk-heading-{{ section.heading_size | default: 'medium' }}">{{ section.container_one.title | markdownify }}</h1>
            {% endif %}
            {% if section.container_one.subtitle != empty %}
              <div class="uk-text-lead">{{ section.container_one.subtitle | markdownify }}</div>
            {% endif %}
            {% if section.container_one.content != empty %}
              <div{% if section.container_one.title != empty %} class="uk-margin-medium-top"{% endif %}>
                {% if section.container_one.content contains '{' and section.container_one.content contains '}' %}
                  {% assign slug = section.container_one.content | remove: '{' | remove: '}' %}
                  {%- assign block = site.blocks | where:"slug", slug | first -%}
                  {{ block.content }}
                {% else %}
                  {{ section.container_one.content | markdownify }}
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="uk-width-expand@m">
            {% if section.container_two.title != empty %}
              <h1 class="uk-heading-{{ section.heading_size | default: 'medium' }}">{{ section.container_two.title | markdownify }}</h1>
            {% endif %}
            {% if section.container_two.subtitle != empty %}
              <div class="uk-text-lead">{{ section.container_two.subtitle | markdownify }}</div>
            {% endif %}
            {% if section.container_two.content != empty %}
              <div{% if section.container_two.title != empty %} class="uk-margin-medium-top"{% endif %}>
                {% if section.container_two.content contains '{' and section.container_two.content contains '}' %}
                  {% assign slug = section.container_two.content | remove: '{' | remove: '}' %}
                  {%- assign block = site.blocks | where:"slug", slug | first -%}
                  {{ block.content }}
                {% else %}
                  {{ section.container_two.content | markdownify }}
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% elsif section.layout == 'left' %}
        <div class="uk-flex uk-flex-middle" data-uk-grid>
          <div class="uk-width-2-3@m">
            <h1 class="uk-heading-{{ section.heading_size | default: 'medium' }}">{{ page.title }}</h1>
            {% if page.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle }}</div>
            {% endif %}
            {% if page.layout =='post' %}
              <div class="uk-margin-medium-top">
                {% include post-meta.html %}
              </div>
            {% endif %}
          </div>
        </div>
      {% elsif section.layout == 'center' %}
        <div class="uk-flex uk-text-center uk-flex-middle uk-flex-center uk-container uk-container-small">
          <div class="uk-width-1-1">
            <h1 class="uk-heading-{{ section.heading_size | default: 'medium' }}">{{ page.title }}</h1>
            {% if page.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle }}</div>
            {% endif %}
            {% if page.layout =='post' %}
              <div class="uk-flex uk-flex-center uk-margin-medium-top">
                {% include post-meta.html %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>