{% if block.grid == '1-1' %}
  {% assign grid = 'uk-child-width-1-1' %}
{% elsif block.grid == '1-2' %}
  {% assign grid = 'uk-child-width-1-2@m' %}
{% elsif block.grid == '1-3' or block.grid == '1-4' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-{{ block.grid }}@m
  {% endcapture %}
{% elsif block.grid == '1-5' or block.grid == '1-6' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-{{ block.grid }}@l
  {% endcapture %}
{% else %}
  {% assign grid = 'uk-child-width-expand@m' %}
{% endif %}
<div class="{{ grid }}{% if block.gutter %} uk-grid-{{ block.gutter }}{% endif %} uk-grid-match uk-flex-center" data-uk-grid>
  {% for card in block.cards %}
    <div>
      {% if block.media == 'left' %}
        <div class="uk-card{% unless card.icon != empty %} uk-card-large{% endunless %} uk-card-{{ block.style | default: 'none' }} uk-grid-collapse uk-margin{% if card.icon != empty %} card-icon{% endif %}" data-uk-grid>
          <div class="uk-card-media-left{% if card.icon != empty %} uk-width-auto@m uk-flex uk-flex-middle{% if block.style != 'none' %} uk-padding{% endif %}{% if block.section_content_align != empty %} uk-flex-{{ block.section_content_align }}{% endif %}{% else %} uk-width-1-2@m{% endif %}"{% if block.icon_color != empty %} style="color: {{ block.icon_color }}"{% endif %}>
            {% if card.icon != empty %}
              <img src="{{ card.icon }}" alt="{{ card.title }}"{% if block.icon_size != empty %} width="{{ block.icon_size }}" height="{{ block.icon_size }}"{% endif %}{% if block.icon_color != empty %} data-uk-svg{% endif %}>
            {% elsif card.image != empty %}
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ card.image | absolute_url }}" alt="{{ card.title }}" data-uk-img>
            {% endif %}
          </div>
          <div class="uk-flex uk-flex-middle{% if block.section_content_align != empty %} uk-flex-{{ block.section_content_align }}{% endif %} uk-width-expand@m">
            <div class="uk-card-body">
              <h3 class="{% if card.icon != empty %}uk-card-title{% else %}uk-h2{% endif %}">{{ card.title }}</h3>
              {{ card.content | markdownify }}
              {% if card.button.url != empty %}
                <a href="{{ card.button.url }}" class="uk-button uk-button-{{ card.button.style }} uk-button-{{ card.button.size }}"{% if card.button.blank %} target="_blank"{% endif %}>{{ card.button.text }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% elsif block.media == 'right' %}
        <div class="uk-card{% unless card.icon != empty %} uk-card-large{% endunless %} uk-card-{{ block.style | default: 'none' }} uk-grid-collapse uk-margin{% if card.icon != empty %} card-icon{% endif %}" data-uk-grid>
          <div class="uk-flex-last@m uk-card-media-right{% if card.icon != empty %} uk-width-auto@m uk-flex uk-flex-middle{% if block.style != empty %} uk-padding{% endif %}{% if block.section_content_align != empty %} uk-flex-{{ block.section_content_align }}{% endif %}{% else %} uk-width-1-2@m{% endif %}"{% if block.icon_color != empty %} style="color: {{ block.icon_color }}"{% endif %}>
            {% if card.icon != empty %}
              <img src="{{ card.icon }}" alt="{{ card.title }}"{% if block.icon_size != empty %} width="{{ block.icon_size }}" height="{{ block.icon_size }}"{% endif %}{% if block.icon_color != empty %} data-uk-svg{% endif %}>
            {% elsif card.image != empty %}
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ card.image | absolute_url }}" alt="{{ card.title }}" data-uk-img>
            {% endif %}
          </div>
          <div class="uk-flex uk-flex-middle{% if block.section_content_align %} uk-flex-{{ block.section_content_align }}{% endif %} uk-width-expand@m">
            <div class="uk-card-body">
              <h3 class="{% if card.icon != empty %}uk-card-title{% else %}uk-h2{% endif %}">{{ card.title }}</h3>
              {{ card.content | markdownify }}
              {% if card.button.url != empty %}
                <a href="{{ card.button.url }}" class="uk-button uk-button-{{ card.button.style }} uk-button-{{ card.button.size }}"{% if card.button.blank %} target="_blank"{% endif %}>{{ card.button.text }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="uk-card{% if block.style != empty %} uk-card-{{ block.style }}{% endif %}{% if card.icon != empty %} card-icon{% endif %}{% if block.heading != empty %} card-pricing{% endif %}">
          {% if card.icon != empty or card.image != empty %}
            <div class="uk-card-media-top{% if card.icon != empty and block.style != empty %} uk-padding uk-padding-remove-bottom{% endif %}"{% if block.icon_color != empty %} style="color: {{ block.icon_color }}"{% endif %}>
              {% if card.icon != empty %}
                <img src="{{ card.icon }}" alt="{{ card.title }}"{% if block.icon_size != empty %} width="{{ block.icon_size }}" height="{{ block.icon_size }}"{% endif %}{% if block.icon_color != empty %} data-uk-svg{% endif %}>
              {% elsif card.image != empty %}
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ card.image | absolute_url }}" alt="{{ card.title }}" data-uk-img>
              {% endif %}
            </div>
          {% endif %}
          <div class="uk-card-body">
            <h3 class="uk-card-title">{{ card.title }}</h3>
            {% if card.heading %}
              <h4 class="uk-heading-medium">{{ card.heading }}</h4>
            {% endif %}
            {{ card.content | markdownify }}
            {% if card.button.url != empty %}
              <a href="{{ card.button.url }}" class="uk-button uk-button-{{ card.button.style }} uk-button-{{ card.button.size }}"{% if card.button.blank %} target="_blank"{% endif %}>{{ card.button.text }}</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
{{card.cards}}