{% if block.url contains 'http' %}
    {% assign domain = '' %}
{% else %}
    {% assign domain = '' | absolute_url %}
{% endif %}
<a class="uk-button{% unless block.style contains '#' or block.style contains 'rbg' %} uk-button-{{ block.style | default: 'default' }}{% endunless %}{% if block.size %} uk-button-{{ block.size }}{% endif %}{% if block.style contains '#' or block.style contains 'rbg' %} opacity{% endif %}{% if block.width != 'default' %} uk-width-{{ block.width }}{% endif %}" href="{{ domain }}{{ block.url }}" {% if block.style contains '#' or block.style contains 'rbg' %} style="background: {{ block.style }}; color: #fff;"{% endif %}{% if block.blank %} target="_blank" rel="noopener"{% endif %}>{% if block.icon %}<span data-uk-icon="{{ block.icon }}"></span> {% endif %}{{ block.text | default: 'Text' }}</a>