{% if block.layout == 'center' %}
  <div{% if block.animation != empty %} data-uk-scrollspy="cls: uk-animation-{{ block.animation | default: 'slide-bottom' }}; repeat: true"{% endif %}>
    <h2 class="section-title uk-margin-remove">{{ block.title }}</h2>
    {% if block.subtitle != empty %}
      <p class="uk-margin-top uk-margin-remove-bottom uk-text-lead">{{ block.subtitle }}</p>
    {% endif %}
    {% unless block.content == empty %}<div class="uk-margin-medium-top">{{ block.content }}</div>{% endunless %}
    {% if block.video != empty %}
    <div class="uk-margin-medium-top" data-uk-lightbox>
      <a href="{{ block.video }}" data-caption="{{ block.title }}"><div class="icon">{% include icons/ios-play-button-circled.svg %}</div></a>
    </div>
    {% endif %}
    {% if block.button.url != empty %}
      <a class="uk-margin-medium-top uk-button uk-button-xlarge uk-button-{{ block.button.style | default: 'primary' }}" href="{{ domain }}{{ block.button.url }}"{% if block.button.blank %} target="_blank" rel="noopener"{% endif %}>{{ block.button.text }}</a>
    {% endif %}
  </div>
{% elsif block.layout == 'left' %}
  <div class="uk-grid-large uk-flex-middle" data-uk-grid{% if block.animation != empty %} data-uk-scrollspy="cls: uk-animation-{{ block.animation | default: 'slide-bottom' }}; repeat: true"{% endif %}>
    <div class="uk-width-expand@m">
      {% if block.title != empty %}
        <h2 class="section-title uk-margin-remove">{{ block.title }}</h2>
      {% endif %}
      {% if block.subtitle != empty %}
        <p class="uk-text-lead uk-margin-small">{{ block.subtitle }}</p>
      {% endif %}
      {% unless block.content == empty %}<div class="uk-margin-medium-top">{{ block.content }}</div>{% endunless %}
    </div>
    <div class="uk-width-auto@m">
      {% if block.video != empty %}
      <div class="uk-margin-medium-top" data-uk-lightbox>
        <a href="{{ block.video }}" data-caption="{{ block.title }}"><div class="icon">{% include icons/ios-play-button-circled.svg %}</div></a>
      </div>
      {% endif %}
      {% if block.button.url != empty %}
        <a class="uk-button uk-button-xlarge uk-button-{{ block.button.style | default: 'primary' }}" href="{{ domain }}{{ block.button.url }}"{% if block.button.blank %} target="_blank" rel="noopener"{% endif %}>{{ block.button.text }}</a>
      {% endif %}
    </div>
  </div>
{% elsif block.layout == 'video' %}
  <div class="uk-grid-large uk-flex-middle" data-uk-grid{% if block.animation != empty %} data-uk-scrollspy="cls: uk-animation-{{ block.animation | default: 'slide-bottom' }}; repeat: true"{% endif %}>
    <div class="uk-width-expand@m">
      {% if block.title != empty %}
        <h2 class="section-title uk-margin-remove">{{ block.title }}</h2>
      {% endif %}
      {% if block.subtitle != empty %}
        <p class="uk-text-lead uk-margin-small-top">{{ block.subtitle }}</p>
      {% endif %}
    </div>
    <div class="uk-width-auto@m">
      {% if block.video != empty %}
      <div data-uk-lightbox>
        <a href="{{ block.video }}" data-caption="{{ block.title }}"><div class="icon-cta">{% include icons/ios-play-button-circled.svg %}</div></a>
      </div>
      {% endif %}
      {% if block.button.url != empty %}
        <a class="uk-button uk-button-xlarge uk-button-{{ block.button.style | default: 'primary' }}" href="{{ domain }}{{ block.button.url }}"{% if block.button.blank %} target="_blank" rel="noopener"{% endif %}>{{ block.button.text }}</a>
      {% endif %}
    </div>
    <div class="uk-width-expand@m">
      {% unless block.content == empty %}<div class="uk-article-content">{{ block.content }}</div>{% endunless %}
    </div>    
  </div>
{% endif %}