<div class="uk-block-team uk-flex-center uk-text-center uk-block-team uk-child-width-{{ block.grid | default: 'expand' }} uk-grid-{{ block.gap }}" data-uk-grid>

	{% if block.authors != empty %}
			{% assign authors = block.authors | split: ", " %}
	{% else %}
			{% assign authors = site.authors %}
	{% endif %}

	{% for author in authors %}

			{% if block.authors != empty %}
					{% assign item = site.authors[author] %}
			{% else %}
					{% assign item = author[1] %}
			{% endif %}
				<div>
					<div class="">
							{% if item.avatar %}
									{% if item.avatar contains 'http' %}
											{% assign domain = '' %}
									{% else %}
											{% assign domain = site.uploads | absolute_url %}
									{% endif %}

									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ domain }}{{ item.avatar }}" alt="{{ item.name }}" data-uk-img>
							{% endif %}
							<h4 class="uk-margin-remove-bottom uk-margin-top">{{ item.name }}</h4>
							<p class="uk-text-small uk-text-muted uk-margin-remove">{{ item.title }}</p>
					</div>
			</div>
	{% endfor %}
</div>