{% if include.url contains 'http' %}
    {% assign domain = '' %}
{% else %}
    {% assign domain = '' | absolute_url %}
{% endif %}
<a class="uk-button{% if include.style %} uk-button-{{ include.style | default: 'default' }}{% endif %}{% if include.size %} uk-button-{{ include.size }}{% endif %}{% if include.background %} opacity{% endif %}" href="{{ domain }}{{ include.url }}" {% if include.background or include.color %} style="{% if include.color %}color: {{ include.color }};{% endif %}{% if include.background %} background: {{ include.background }};{% endif %}"{% endif %}>{{ include.text | default: 'Text' }}</a>