{% include partials/section-open.html 
  section_size=include.section_size
  section_padding=include.section_padding
  section_align=include.section_align
  section_height=include.section_height
  section_color=include.section_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  background_color=include.background_color
  background_image=include.background_image
  background_video=include.background_video
  background_align=include.background_align
  background_overlay=include.background_overlay
  content_align=include.content_align
  content_color=include.content_color
%}

{% if include.grid == '1-1' %}
  {% assign grid = 'uk-child-width-1-1' %}
{% elsif include.grid == '1-2' %}
  {% assign grid = 'uk-child-width-1-2@m' %}
{% elsif include.grid == '1-3' or include.grid == '1-4' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-{{ include.grid }}@m
  {% endcapture %}
{% elsif include.grid == '1-5' or include.grid == '1-6' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-{{ include.grid }}@l
  {% endcapture %}
{% else %}
  {% assign grid = 'uk-child-width-expand@m' %}
{% endif %}

    <div class="{{ grid }} uk-grid-match" data-uk-grid>
      {% assign blocks = (site.blocks | sort: 'card[slug]') %}
      {% for block in blocks %}
        {% if block.slug contains include.block %}
          <div>
            {% if include.media == 'left' %}
              <div class="uk-grid-match box{% if include.grid == '1-1' %} uk-grid-large{% endif %}" data-uk-grid>
                <div class="uk-flex-middle uk-width-1-2@m">
                  <div class="uk-panel">            
                    {% if block.icon %}
                      <img class="icon" src="{% if block.icon contains 'http' %}{{ block.icon }}{% else %}{{ site.uploads | absolute_url }}{{ block.icon }}{% endif %}" alt="{{ block.title }}" data-uk-svg>
                    {% elsif block.image %}
                      <img data-src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}" data-width data-height data-uk-img>
                    {% endif %}
                  </div>
                </div>
                <div class="uk-flex-middle uk-width-expand@m">  
                  <div class="uk-panel">                          
                    <h3 class="uk-margin-small">{{ block.title }}</h3>
                    {% if block.subtitle %}
                      <div class="uk-text-large uk-margin-small">{{ block.subtitle }}</div>
                    {% endif %}
                    {% if block.content %}
                      <div class="uk-margin-top">{{ block.content }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% elsif include.media == 'right' %}
              <div class="uk-grid-match box{% if include.grid == '1-1' %} uk-grid-large{% endif %}" data-uk-grid>
                <div class="uk-flex-middle uk-width-expand@m">  
                  <div class="uk-panel">                          
                    <h3 class="uk-margin-small">{{ block.title }}</h3>
                    {% if block.subtitle %}
                      <div class="uk-text-large uk-margin-small">{{ block.subtitle }}</div>
                    {% endif %}
                    {% if block.content %}
                      <div class="uk-margin-top">{{ block.content }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="uk-flex-middle uk-width-1-2@m">
                  <div class="uk-panel">            
                    {% if block.icon %}
                      <img class="icon" src="{% if block.icon contains 'http' %}{{ block.icon }}{% else %}{{ site.uploads | absolute_url }}{{ block.icon }}{% endif %}" alt="{{ block.title }}">
                    {% elsif block.image %}
                      <img data-src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}" data-width data-height data-uk-img>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% elsif include.media == 'top' %}
              <div class="box">
                {% if block.icon %}
                  {% include icons/ios-avatar.svg %}
                  <img class="icon uk-icon uk-margin-medium-bottom" src="{% if block.icon contains 'http' %}{{ block.icon }}{% else %}{{ site.uploads | absolute_url }}{{ block.icon }}{% endif %}" alt="{{ block.title }}" data-uk-svg>
                {% elsif block.image %}
                  <img class="uk-margin-medium-bottom" data-src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}" data-width data-height data-uk-img>
                {% endif %}
                <h3 class="uk-margin-remove">{{ block.title }}</h3>
                {% if block.subtitle %}
                  <div class="uk-text-large uk-margin-small">{{ block.subtitle }}</div>
                {% endif %}
                {% if block.content %}
                  <div class="uk-margin-top">{{ block.content }}</div>
                {% endif %}
              </div>
            {% else %}

            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% include partials/section-close.html 
  section_size=include.section_size 
%}
