{% include partials/section-open.html 
  section_size=include.section_size
  section_padding=include.section_padding
  section_align=include.section_align
  section_height=include.section_height
  section_color=include.section_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  background_color=include.background_color
  background_image=include.background_image
  background_video=include.background_video
  background_align=include.background_align
  background_overlay=include.background_overlay
  content_align=include.content_align
  content_color=include.content_color
%}

{% assign topics = '' %}

{% for post in site.portfolio %}
  {% assign t = post.topics | join: "," %}
  {% if t != "" %}
    {% capture topics %}{{topics}}{{t}},{% endcapture %}
  {% endif %}
{% endfor %}

{% assign topics = topics | split: "," | uniq | sort: self %}

{% if include.topic %}
  {% assign portfolio = site.portfolio | where: "topics", include.topic %}
{% else %}
  {% assign portfolio = site.portfolio %}
{% endif %}
  <div data-uk-filter="target: [data-uk-grid]; animation: 500">
		{% unless include.topic %}
			<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center uk-margin-medium-bottom">
				<li class="uk-active" uk-filter-control><a href="#">All</a></li>
				{% for topic in topics %}
					<li uk-filter-control="[data-topic*='{{ topic }}']"><a href="#">{{ topic | capitalize }}</a></li>
				{% endfor %}
			</ul>
		{% endunless %}

		<ul class="uk-child-width-1-2 uk-child-width-1-{{ include.cols | default: '4' }}@m uk-text-center" data-uk-grid>
			{% for post in portfolio %}
				<li data-topic="{{ post.topics }}">
					<div class="uk-inline uk-light uk-transition-toggle">
						<img src="{% if post.image contains 'http' %}{{ post.image }}{% else %}{{ site.uploads | absolute_url }}{{ post.image }}{% endif %}" alt="{{ post.title }}">
						<a href="{{ post.url | absolute_url }}" class="uk-overlay uk-overlay-primary uk-position-cover uk-transition-fade">
							<div class="uk-position-center">
								<span data-uk-icon="icon: link; ratio: 1.5"></span>
							</div>
						</a>
					</div>
					<h5 class="uk-text-uppercase uk-margin-top uk-margin-remove-bottom">{{ post.title }}</h5>
				</li>
			{% endfor %}
		</ul>
	</div>
{% include partials/section-close.html 
  section_size=include.section_size 
	background_color=include.background_color
	background_image=include.background_image
	background_video=include.background_video
%}