{% assign sidebar = page.sidebar | default: site.sidebar | default: 'posts' %}

{% for widget in site.data.sidebar.[sidebar] %}
  <div class="uk-margin-large-bottom">
    {% case widget.widget %}

      {% when 'recent' %}

        {% if widget.title %}<h3>{{ widget.title }}</h3>{% endif %}
        {% include recent.html type=widget.type count=widget.count %}

      {% when 'block' %}

        {%- assign block = site.blocks | where:"slug", widget.block | first -%}
        {% if widget.title %}<h3>{{ widget.title }}</h3>{% endif %}
        <div class="line-height-medium{% if block.align %} uk-text-{{ block.align }}{% endif %}">{{ block.content }}</div>

      {% when 'author' %}

        {% include author.html %}

      {% when 'navigation' %}

          {% for nav in widget.nav %}
            {% if nav.title %}<h5 class="uk-text-uppercase uk-margin-small-bottom">{{ nav.title }}</h5>{% endif %}
            <ul class="uk-nav">
              {% if nav.links != null %}
                {% for link in nav.links %}

                  {% if link.url contains 'http' %}
                      {% assign domain = '' %}
                  {% else %}
                      {% assign domain = '' | relative_url %}
                  {% endif %}

                  <li{% if link.url == page.url %} class="uk-active"{% endif %}><a href="{{ domain }}{{ link.url }}" class="uk-link-text"{% if link.url contains 'http' %} target="_blank" {% endif %}>{{ link.title }}</a></li>

                {% endfor %}
              {% endif %}
            </ul>
          {% endfor %}

      {% else %}

         There is no such widget type! Valid widget types: recent, block, author, navigation.

    {% endcase %}
  </div>
{% endfor %}
