{% include partials/section-open.html 
  section_size=include.section_size
  section_padding=include.section_padding
  section_align=include.section_align
  section_height=include.section_height
  section_color=include.section_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  background_color=include.background_color
  background_image=include.background_image
  background_video=include.background_video
  background_align=include.background_align
  background_overlay=include.background_overlay
  content_align=include.content_align
  content_color=include.content_color
%}
{% if include.grid == '1-1' %}
  {% assign grid = 'uk-child-width-1-1' %}
{% elsif include.grid == '1-2' %}
  {% assign grid = 'uk-child-width-1-2@m' %}
{% elsif include.grid == '1-3' or include.grid == '1-4' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-{{ include.grid }}@m
  {% endcapture %}
{% elsif include.grid == '1-5' or include.grid == '1-6' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-{{ include.grid }}@l
  {% endcapture %}
{% else %}
  {% assign grid = 'uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-6@l' %}
{%- endif -%}
<div data-uk-slider="{% if include.center %}center: true;{% endif %}{% if include.autoplay %} autoplay: true;{% endif %}{% if include.sets %} sets: true;{% endif %}">
	<div class="uk-position-relative">
		<div class="uk-visible-toggle uk-slider-container{% if include.style == 'default' %} slider-card-shadow-fix{% endif %}{% if include.color == 'light' %} uk-light{% endif %}">
			<ul class="{{ grid }} uk-slider-items{% if include.layout == 'card-top' %} uk-grid uk-grid-match{% endif %}">
			{% assign blocks = (site.blocks | sort: 'card[slug]') %}
			{% for block in blocks %}
				{% if block.slug contains include.block %}
					<li>
						{% if include.layout == 'card-top' %}
							<div class="uk-card uk-card-{{ include.style | default: 'none' }}">
								{% if block.icon or block.image %}
									<div class="uk-card-media-top{% if block.icon %} uk-padding uk-padding-remove-bottom{% endif %}">
										{% if block.icon %}
											{% include icons/{{ block.icon }} %}
										{% elsif block.image %}
										<img src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}">
										{% endif %}
									</div>
								{% endif %}
								<div class="uk-card-body">
									<h3 class="uk-card-title">{{ block.title }}</h3>
									<div class="uk-card-content">
									{{ block.content }}
									</div>
								</div>
							</div>
						{% else %}
							<img src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ site.uploads | absolute_url }}{{ block.image }}{% endif %}" alt="{{ block.title }}">
							<div class="uk-position-center uk-panel">{% unless include.display_title == "false" %}<h3 class="uk-card-title">{{ block.title }}</h3>{% endunless %}</div>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>

		</div>

    {% if include.navigation == 'outside' %}
      <div class="uk-hidden@m uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
      <div class="uk-visible@m">
        <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
    {% else %}
      <div{% unless include.style == 'default' %} class="uk-light"{% endunless %}>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>
    {% endif %}

	</div>

  {% if include.dotnav %}
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
  {% endif %}

</div>

{% include partials/section-close.html 
  section_size=include.section_size 
%}