{% include partials/section-open.html 
  section_size=include.section_size
  section_padding=include.section_padding
  section_align=include.section_align
  section_height=include.section_height
  section_color=include.section_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  background_color=include.background_color
  background_image=include.background_image
  background_video=include.background_video
  background_align=include.background_align
  background_overlay=include.background_overlay
  content_align=include.content_align
  content_color=include.content_color
%}
{%- assign block = site.blocks | where:"slug", include.block | first -%}
{%- if include.section_align == 'center' -%}
  <h2 class="uk-h1">{{ block.title }}</h2>
  <div class="uk-margin-medium-top" data-uk-lightbox>
    <a href="{{ block.video }}" data-caption="{{ block.title }}"><div class="icon">{% include icons/ios-play-button-circled.svg %}</div></a>
  </div>
  {% if block.content %}<div class="uk-margin-medium-top">{{ block.content }}</div>{% endif %}
{%- else -%}
	<div class="uk-flex uk-flex-middle uk-grid-large" data-uk-grid data-uk-lightbox>
		<div class="uk-width-expand">
			<h2 class="uk-h1">{{ block.title }}</h2>
		</div>
		<div class="uk-width-auto">
			<div data-uk-lightbox>
				<a href="{{ block.video }}" data-caption="{{ block.title }}"><div class="icon">{% include icons/ios-play-button-circled.svg %}</div></a>
			</div>
		</div>
		{% if block.content %}<div class="uk-width-expand">{{ block.content }}</div>{% endif %}
	</div>
{%- endif -%}
{% include partials/section-close.html 
  section_size=include.section_size 
%}