{% include partials/section-open.html 
  section_size=include.section_size
  section_padding=include.section_padding
  section_align=include.section_align
  section_height=include.section_height
  section_color=include.section_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  background_color=include.background_color
  background_image=include.background_image
  background_video=include.background_video
  background_align=include.background_align
  background_overlay=include.background_overlay
  content_align=include.content_align
  content_color=include.content_color
%}
{% if include.columns %}
	{% assign columns = include.columns %}
	{% if columns == '1' %}
			{% assign container = ' uk-container-xsmall' %}
	{% elsif columns == '2' %}
			{% assign container = ' uk-container-small' %}
	{% else %}
			{% assign container = '' %}
	{% endif %}
{% else %}
	{% assign columns = 3 %}
	{% assign container = '' %}
{% endif -%}
	<div class="uk-child-width-1-{{ columns }}@m uk-grid-match uk-text-center uk-margin-medium-top" data-uk-grid data-uk-lightbox>
		{% for block in site.blocks %}
			{% if block.slug contains include.block %}
			<div>
				<div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium uk-card-body uk-inline">
					<a class="uk-position-cover" href="{{ block.video }}" data-caption="{{ block.title }}"></a>
					<div class="icon">{% include icons/ios-play-button-circled.svg %}</div>
					<h3 class="uk-card-title uk-margin-top uk-margin-small-bottom">{{ block.title }}</h3>
					{% unless block.content == blank %}
						<div class="card-content text-smaller">{{ block.content }}</div>
					{% endunless %}
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
{% include partials/section-close.html 
  section_size=include.section_size 
	background_color=include.background_color
	background_image=include.background_image
	background_video=include.background_video
%}