<div class="border-frame">
  <ul class="uk-child-width-expand" data-uk-tab>
    {% if page.list.primary %}
    <li class="uk-active"><a href="#">{{ page.list.primary.title }}</a></li>
    {% endif %}
    {% if page.list.secondary %}      
    <li><a href="#">{{ page.list.secondary.title }}</a></li>
    {% endif %}
  </ul>
  <ul class="uk-switcher article-content">
    {% if page.list.primary %}
      <li>
        <ul class="uk-list uk-list-large">
          {% for post in site.posts %}
            {% if post.tags contains page.list.primary.tag %}
              <li><a class="uk-link-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if page.list.secondary %}      
      <li>
        <ul class="uk-list uk-list-large">
          {% for post in site.posts %}
            {% if post.tags contains page.list.secondary.tag %}
              <li><a class="uk-link-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>
</div>              
