{% if page.navbar.transparent_color %}
  {% assign transparent_color = page.navbar.transparent_color %}
{% else %}
  {% assign transparent_color = site.navbar.color %}
{% endif %}

{% if page.navbar.color %}
  {% assign color = page.navbar.color %}
{% else %}
  {% assign color = site.navbar.color %}
{% endif %}

{% if page.navbar.sticky %}
  {% assign sticky = true %}
{% elsif page.navbar.sticky != false %}
  {% if site.navbar.sticky %}
    {% assign sticky = true %}
  {% else %}
    {% assign sticky = false %}
  {% endif %}
{% endif %}

{% if page.navbar.scroll_up %}
  {% assign scroll_up = true %}
{% elsif page.navbar.scroll_up != false %}
  {% if site.navbar.scroll_up %}
    {% assign scroll_up = true %}
  {% else %}
    {% assign scroll_up = false %}
  {% endif %}
{% endif %}

{% if page.navbar.animation %}
  {% assign animation = true %}
{% elsif page.navbar.animation != false %}
  {% if site.navbar.animation %}
    {% assign animation = true %}
  {% else %}
    {% assign animation = false %}
  {% endif %}
{% endif %}

{% if page.header.background.align %}
  {% assign background_align = page.header.background.align %}
{% else %}
  {% assign background_align = "center" %}
{% endif %}

{% if page.header.background.image %}
{% assign background_image = page.header.background.image %}
<div class="uk-background-{{ background_align }}-center uk-background-cover{% if page.header.background.overlay %} uk-background-blend-overlay{% endif %}" style="{% if page.header.background.color %}background-color: {{ page.header.background.color }}; {% endif %}background-image: url({% if background_image contains 'http' %}{{ background_image }}{% else %}{{ site.uploads | absolute_url }}{{ background_image }}{% endif %});"{% if page.header.height == 'full' %} data-uk-height-viewport{% endif %}>
{% else %}
<div{% if page.header.background.color %} style="background: {{ page.header.background.color }}; "{% endif %}{% if page.header.height == 'full' %} data-uk-height-viewport{% endif %}>
{% endif %}

  {% if sticky %}
    <div data-uk-sticky="{% if scroll_up %}show-on-up: true; {% endif %}{% if animation %}animation: uk-animation-slide-top; top: 200; {% endif %}sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky navbar-background uk-{{ color | default: 'dark' }}; cls-inactive: {% if page.navbar.transparent %}uk-navbar-transparent uk-{{ transparent_color | default: 'dark' }}{% else %}navbar-background uk-{{ color | default: 'dark' }}{% endif %}">
      <nav class="uk-navbar-container">
        {% if site.navbar.layout == 'center' %}
          {% include partials/navbar-center.html %}
        {% else %}
          {% include partials/navbar-default.html %}
        {% endif %}
      </nav>
    </div>
  {% else %}
    <nav class="uk-navbar-container {% if page.navbar.transparent %}uk-navbar-transparent uk-{{ transparent_color | default: 'dark' }}{% else %}navbar-background uk-{{ color | default: 'dark' }}{% endif %}">
      {% if site.navbar.layout == 'center' %}
        {% include partials/navbar-center.html %}
      {% else %}
        {% include partials/navbar-default.html %}
      {% endif %}
    </nav>
  {% endif %}

  {% if page.header %}
  <div class="uk-container{% if page.header.layout == 'center' %} uk-container-small{% endif %}{% if page.header.height == 'full' %} uk-flex uk-flex-middle{% endif %}"{% if page.header.height == 'full' %} data-uk-height-viewport="offset-top: true"{% endif %}>
    <div class="uk-section uk-section-large  uk-width-1-1 uk-{{ page.header.color | default: 'dark' }}">
      {% if page.header.layout == 'center' %}
        <div class="uk-flex uk-text-center uk-flex-middle uk-flex-center">
          <div>
            {% if page.header.container.title %}
              <h1 class="uk-heading-hero">{{ page.title | escape }}</h1>
            {% endif %}
            {% if page.header.container.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle | markdownify }}</div>
            {% endif %}
            {% if page.header.container.search %}
              <div class="uk-margin-medium-top">
                {% include search.html %}
              </div>
            {% endif %}
            {% if page.header.container.slideshow %}
              <div class="uk-margin-medium-top">
                {% include slideshow.html gallery=page.header.container.slideshow %}
              </div>
            {% endif %}
            {% if page.header.container.image %}
              <div class="uk-margin-medium-top">
                <img src="{{ page.header.container.image }}">
              </div>
            {% endif %}
            {% if page.header.container.content %}
              <div class="uk-margin-medium-top">
                {{ page.header.container.content }}
              </div>
            {% endif %}
            {% if page.header.container.newsletter == 'mailchimp' %}
              <div class="uk-margin-medium-top">
                {% include mailchimp.html %}
              </div>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="uk-grid-large uk-flex uk-flex-middle uk-flex-center@m" data-uk-grid>
          <div class="uk-width-{{ page.header.layout | default: '2-3' }}@m">
            {% if page.header.container.title %}
              <h1 class="uk-heading-hero">{{ page.title | escape }}</h1>
            {% endif %}
            {% if page.header.container.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle | markdownify }}</div>
            {% endif %}
            {% if page.header.container.search %}
              <div class="uk-margin-medium-top">
                {% include search.html %}
              </div>
            {% endif %}
            {% if page.header.container.slideshow %}
              <div class="uk-margin-medium-top">
                {% include slideshow.html gallery=page.header.container.slideshow %}
              </div>
            {% endif %}
            {% if page.header.container.image %}
              <div class="uk-margin-medium-top">
                <img src="{{ page.header.container.image }}">
              </div>
            {% endif %}
            {% if page.header.container.content %}
              <div class="uk-margin-medium-top">
                {{ page.header.container.content }}
              </div>
            {% endif %}
            {% if page.header.container.newsletter == 'mailchimp' %}
              <div class="uk-margin-medium-top">
                {% include mailchimp.html %}
              </div>
            {% endif %}
          </div>
          <div class="uk-width-expand@m">
            {% if page.header.container2.title %}
              <h1 class="uk-heading-hero">{{ page.title | escape }}</h1>
            {% endif %}
            {% if page.header.container2.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle | markdownify }}</div>
            {% endif %}
            {% if page.header.container2.search %}
              <div class="uk-margin-medium-top">
                {% include search.html %}
              </div>
            {% endif %}
            {% if page.header.container2.slideshow %}
              <div class="uk-margin-medium-top">
                {% include slideshow.html gallery=page.header.container2.slideshow %}
              </div>
            {% endif %}
            {% if page.header.container2.image %}
              <div class="uk-margin-medium-top">
                <img src="{{ page.header.container2.image }}">
              </div>
            {% endif %}
            {% if page.header.container2.content %}
              <div class="uk-margin-medium-top">
                {{ page.header.container2.content }}
              </div>
            {% endif %}
            {% if page.header.container2.newsletter == 'mailchimp' %}
              <div class="uk-margin-medium-top">
                {% include mailchimp.html %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
