{%- unless include.section_size == 'none' -%}
  <div class="uk-cover-container{% if include.background_color == 'muted' or include.background_color == 'secondary' or include.background_color == 'primary' %} uk-section-{{ include.background_color }}{% endif %} uk-background-{{ include.background_align | default: 'center-center' }} uk-background-cover" style="{% if include.background_color contains '#' or include.background_color contains 'rgb' %}background-color: {{ include.background_color }};{% endif %}{% if include.background_image %}background-image: url({% if include.background_image contains 'http' %}{{ include.background_image }}{% else %}{{ site.uploads | absolute_url }}{{ include.background_image }}{% endif %});{% endif %}">
    {%- if include.background_video -%}
      <video autoplay loop muted playsinline data-uk-cover>
        <source src="{% if include.background_video contains 'http' %}{{ include.background_video }}{% else %}{{ site.uploads | absolute_url }}{{ include.background_video }}{% endif %}" type="video/mp4">
      </video>
    {%- endif -%}
    <div class="uk-position-cover" style="{% if include.background_overlay %} background: {{ include.background_overlay }};{% endif %}"></div>
    <div class="uk-section uk-section-{{ include.section_size | default: 'default' }}{% if include.section_padding %} uk-padding-{{ include.section_padding }}{% endif %}{% if include.section_light == 'true' %} uk-light{% endif %}{% if include.section_height == 'viewport' %} uk-flex uk-flex-middle{% endif %}"{% if include.section_height == 'viewport' %} data-uk-height-viewport="offset-bottom: 80px"{% endif %}>
{% endunless -%}

			<div class="uk-container{% if include.section_container %} uk-container-{{ include.section_container | default: 'none' }}{% endif %} uk-position-relative uk-text-{{ include.align | default: 'left' }}">
			{%- if include.section_title -%}
				<h2 class="uk-margin-medium-bottom">{{ include.section_title }}</h2>
			{%- endif -%}

			{%- if include.section_subtitle -%}
				<p class="uk-text-lead">{{ include.section_subtitle | escape }}</p>
			{%- endif -%}