<div{% if section.id %} id="{{ section.id }}"{% endif %} 
  class="uk-cover-container{% if section.background.style != 'custom' and section.block != 'header' %} uk-section-{{ section.background.style }}{% elsif section.background.style != 'custom' and section.block == 'header' %} uk-background-{{ section.background.style }}{% endif %}{% if section.background.image %} uk-background-cover uk-background-{{ section.background.image_align | default: 'center-center' }}{% endif %}{% if section.class %} {{ section.class }}{% endif %}" 
  style="{% if section.background.style == 'custom' %}background-color: {{ section.background.color }};{% endif %}" 
  {% if section.background.image %} data-src="{{ section.background.image | absolute_url }}" data-uk-img{% endif %}>
  {%- if section.background.video != empty -%}
    <video autoplay loop muted playsinline data-uk-cover data-uk-video="autoplay: inview">
      <source src="{% if section.background.video contains 'http' %}{{ section.background.video }}{% else %}{{ site.uploads | absolute_url }}{{ section.background.video }}{% endif %}" type="video/mp4">
    </video>
  {%- endif -%}
  {% if section.background.overlay_color != empty %}
    <div class="uk-position-cover" style="background: {{ section.background.overlay_color }}; opacity: {{ section.background.overlay_opacity | default: '0.6' }}"></div>
  {%- endif -%}

  {% if section.block == 'header' %}
    {% assign template = page.template | default: site.template %}

    {% assign navbar_layout = site.data.options.[template].navbar.layout %}
    {% assign sticky = site.data.options.[template].navbar.sticky %}
    {% assign scroll_up = site.data.options.[template].navbar.scroll_up %}
    {% assign animation = site.data.options.[template].navbar.animation %}

    {% if section.navbar.transparent != empty %}
      {% assign transparent = section.navbar.transparent %}
    {% else %}
      {% assign transparent = site.data.options.[template].navbar.transparent %}
    {% endif %}

    {% if section.navbar.transparent_light_color != empty %}
      {% assign transparent_light_color = section.navbar.transparent_light_color %}
    {% else %}
      {% assign transparent_light_color = site.data.options.[template].navbar.transparent_light_color %}
    {% endif %}

    {% if section.navbar.light_color != empty %}
      {% assign color = section.navbar.light_color %}
    {% else %}
      {% assign color = site.data.options.[template].navbar.light_color %}
    {% endif %}
    
    {% if sticky %}
      <div data-uk-sticky="{% if scroll_up %}show-on-up: true; {% endif %}{% if animation %}animation: uk-animation-slide-top; top: 200; {% endif %}sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky navbar-background{% if light_color %} uk-light{% endif %}; cls-inactive: {% if transparent %}uk-navbar-transparent{% if transparent_light_color %} uk-light{% endif %}{% else %} navbar-background uk-dark{% endif %}">
        <nav class="uk-navbar-container">
          {% if navbar_layout == 'center' %}
            {% include partials/navbar-center.html %}
          {% else %}
            {% include partials/navbar-default.html %}
          {% endif %}
        </nav>
      </div>
    {% else %}
      <nav class="uk-navbar-container {% if transparent %}uk-navbar-transparent{% if transparent_light_color %} uk-light{% endif %}{% else %} navbar-background {% if light_color %} uk-light{% endif %}{% endif %}">
        {% if navbar_layout == 'center' %}
          {% include partials/navbar-center.html %}
        {% else %}
          {% include partials/navbar-default.html %}
        {% endif %}
      </nav>
    {% endif %}
  {% endif %}

    <div class="uk-section uk-section-{{ section.size | default: 'medium' }}{% if section.remove_padding %} uk-padding-remove-{{ section.remove_padding }}{% endif %}{% if section.height %} uk-flex uk-flex-middle{% endif %}" 
      {% if section.height %} data-uk-height-viewport{% endif %}>
      <div class="{% unless section.container == 'none' %}uk-container{% endunless %}{% if section.container %} uk-container-{{ section.container | default: 'none' }}{% endif %} uk-position-relative">
        <!-- {%- if section.title != empty or section.subtitle != empty -%}
          <div class="section-title-{{ section.header_align | default: 'left' }}{% if section.size == 'large' %} uk-margin-large-bottom{% else %} uk-margin-medium-bottom{% endif %}{% if section.header_color_light %} uk-light{% endif %}">  
            {%- if section.title != empty -%}
              <h2 class="section-title uk-margin-remove uk-text-{{ section.header_align | default: 'left' }}">{{ section.title }}</h2>
            {%- endif -%}
            {%- if section.subtitle != empty -%}
              <p class="uk-margin-small-top uk-margin-remove-bottom uk-text-lead uk-text-{{ section.header_align | default: 'left' }}">{{ section.subtitle | escape }}</p>
            {%- endif -%}
          </div>
        {%- endif -%} -->
          <div class="{% if section.content_align %} uk-text-{{ section.content_align }}{% endif %}{% if section.content_color_light %} uk-light{% endif %}">