---
layout: default
---

<article class="uk-article">
  <img src="{% if page.image contains 'http' %}{{ page.image }}{% else %}{{ site.uploads | absolute_url }}{{ page.image }}{% endif %}" alt="{{ page.title | escape }}">
  <h1 class="uk-article-title uk-margin-medium-top uk-margin-remove-bottom">{{ page.title | escape }}</h1>
  {% include post-meta.html %}

  <div class="article-content button-link uk-margin-medium-top">
    {{ content }}
    {% if page.share %}
        {% include share.html %}
    {% endif %}
  </div>
  
  {% if page.mailchimp %}
      {% include mailchimp.html %}
  {% endif %}

  {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
  {% endif %}

</article>

{% if page.related %}
  {% include related-posts.html %}
{% endif %}