---
layout: default
---

{% for section in page.sections %}
  {% include partials/section-open.html %}
    <div class="uk-section-column uk-text-{{ section.horizontal_align | default: 'left' }}">
      {% for block in section.blocks %}
        {% if block.block == 'grid' %}
          <div class="uk-grid-large uk-text-{{ section.horizontal_align | default: 'left' }}" data-uk-grid>
            {% for cell in block.cells %}
              <div class="uk-width-{{ cell.width | default: '1-1' }}@m uk-flex uk-flex-{{ block.vertical_align | default: 'top' }}">
                <div class="uk-section-column">
                  {% for block in cell.blocks %}
                    {% include block-{{ block.block }}.html %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          {% include block-{{ block.block }}.html %}
        {% endif %}
      {% endfor %}
    </div>
  {% include partials/section-close.html %}
{% endfor %}
