---
layout: default
---

{% for section in page.sections %}
  {% include partials/section-open.html %}

  {% if section.columns == 'one' %}
    {% for block in section.column_one %}
      <div class="uk-text-{{ section.horizontal_align | default: 'left' }}">
        {% include block-{{ block.block }}.html %}
      </div>
    {% endfor %}
  {% else %}
    <div class="uk-grid-large uk-text-{{ section.horizontal_align | default: 'left' }}" data-uk-grid>
      <div class="uk-width-expand@m uk-flex uk-flex-{{ section.vertical_align | default: 'top' }}">
        <div>
          {% for block in section.column_one %}
            {% include block-{{ block.block }}.html %}
          {% endfor %}
        </div>
      </div>
      <div class="uk-width-{{ section.grid | default: '1-3' }}@m{% if section.vertical_align_middle %} uk-flex uk-flex-middle{% endif %}">
        <div>
          {% for block in section.column_two %}
            {% include block-{{ block.block }}.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% include partials/section-close.html %}
{% endfor %}
