// Global variables
$global-success-background:                     #32d296;
$global-warning-background:                     #faa05a;
$global-danger-background:                      #ED576C;
$global-font-family:                            'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-link-color:                             lighten($global-primary-background, 20%);
$global-link-hover-color:                       lighten($global-primary-background, 20%);
$global-small-font-size:                        0.875rem;
// $global-muted-color:                            #f3f4f6;
$global-xxlarge-font-size:                      2.625rem;
$global-xlarge-font-size:                       2rem;
$global-large-font-size:                        1.5rem;
$global-medium-font-size:                       1.25rem;
$xsmall-font-size:                              0.875rem;
$border-rounded-border-radius:                  5px;
$border-rounded-border-radius-large:            6px;
                            
// Base variables
$base-heading-font-family:                      'Nunito Sans', 'Poppins', 'Montserrat', system-ui, san-serif;
$base-heading-font-weight:                      700;
// $base-heading-color:                            #152c5b;
$base-h2-line-height:                           1.4;
$base-link-hover-text-decoration:               none;
// $base-body-color:                               #64748a;
$base-code-font-family:                         Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
$base-code-color:                               #6a6b71;
$base-code-font-size:                           $xsmall-font-size;
$base-pre-font-size:                            0.9375rem;
$base-pre-line-height:                          1.65;
$base-pre-font-family:                          $base-code-font-family;
$base-pre-color:                                lighten($global-primary-background, 25%);

$base-pre-padding:                              30px;
$base-pre-background:                           $global-secondary-background;
// $base-pre-border-width: $global-border-width !default;
// $base-pre-border: $global-border !default;
$base-pre-border-radius:                        7px;


$border-light:                                  #edeff1;
$text-lead-font-size:                           1.3125rem;
$text-lead-color:                               $base-body-color;
$link-muted-hover-color:                        #222;
$link-text-hover-color:                         #555;
$overlay-primary-background:                    rgba(34,34,34,0.8);

$global-inverse-color:                          #fff;
$inverse-global-emphasis-color:                 $global-inverse-color;
$inverse-global-muted-color:                    rgba($global-inverse-color, 0.5);
$inverse-global-color:                          rgba($global-inverse-color, 0.8);

// Accordion variables
$accordion-item-margin-top:                     20px;
$accordion-title-font-size:                     1.1875rem;
$accordion-title-color:                         $global-link-color;
$accordion-title-hover-color:                   $global-link-color;
$accordion-content-margin-top:                  20px;
$accordion-icon-color:                          $global-primary-background;
$accordion-icon-background-color:               lighten( $global-primary-background, 57% );
$internal-accordion-open-image:                 "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='4 13 10 7 16 13' /%3E%3C/svg%3E";
$internal-accordion-close-image:                "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='16 7 10 13 4 7' /%3E%3C/svg%3E";

// Article variables
$article-title-font-size-m:                     2.625rem;
$article-title-line-height:                     1.4;
$article-meta-font-size: 	                    0.8125rem;
$article-meta-line-height:                      1.6;

// Button variables
// $button-font-size:                              $global-font-size;
// $button-small-font-size:                        $global-small-font-size;
$button-large-font-size:                        1.0625rem;
$button-font-weight:                            400;
$button-default-color:                          #222;
$button-default-hover-background:               $button-default-color;
$button-default-hover-color:                    #fff;
$button-default-active-background:              $button-default-color;
$button-default-active-color:                   #fff;
$button-default-border:                         $button-default-color;
$button-default-hover-border:                   $button-default-color;
$button-default-active-border:                  $button-default-color;
$button-warning-background:                     $global-warning-background;
$button-warning-hover-background:               darken($button-warning-background, 7%);
$button-success-background:                     $global-success-background;
$button-success-hover-background:               darken($button-success-background, 5%);
$inverse-button-primary-color:                  #222;
$inverse-button-primary-hover-color:            #000;

// Card variables
$card-small-body-padding-horizontal:            25px;
$card-small-body-padding-vertical:              25px;
$card-title-font-size:                          1.375rem;
$card-default-title-color:                      $base-heading-color;
$card-default-color:                            $base-body-color;

// Heading variables
$heading-large-font-size-l:                     5rem; 
$heading-divider-border-width:                  1px;
$heading-divider-border:                        #d0d5de;

// List
$list-check-image:                             "data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%2362D396' stroke-width='1.6' points='4,10 8,15 17,4' /%3E%3C/svg%3E";
$list-cross-image:                             "data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23ED576C' stroke-width='1.6' d='M16,16 L4,4' /%3E%3Cpath fill='none' stroke='%23ED576C' stroke-width='1.6' d='M16,4 L4,16' /%3E%3C/svg%3E";

// Logo variables
$logo-font-size:                                1.35rem;
$logo-color:                                    #000;
$logo-hover-color:                              #000;
$inverse-logo-color:                            #fff;
$inverse-logo-hover-color:                      #fff;

// Navigation variables
$nav-primary-item-font-size:                    $global-large-font-size;
$navbar-background:                             #fff;
$navbar-nav-item-color:                         #222;
$navbar-nav-item-hover-color:                   $global-primary-background;
$navbar-nav-item-active-color:                  $global-primary-background;
$navbar-nav-item-font-size:                     0.9375rem;
$navbar-nav-item-text-transform:                none;
$navbar-toggle-color:                           #333;
$navbar-toggle-hover-color:                     $global-primary-background;

$navbar-dropdown-nav-font-size:                 $navbar-nav-item-font-size;
$navbar-dropdown-nav-item-color:                $navbar-nav-item-color;
$navbar-dropdown-nav-item-hover-color:          $global-primary-background;
$navbar-dropdown-nav-item-active-color:         $global-primary-background;

$offcanvas-bar-color-mode:                      dark;
$offcanvas-bar-background:                      #fff;
$subnav-item-font-size:                         $global-small-font-size;
$subnav-item-text-transform:                    uppercase;

$inverse-navbar-nav-item-color:                 $inverse-global-color;
$inverse-navbar-nav-item-hover-color:           $inverse-global-emphasis-color;
$inverse-navbar-nav-item-onclick-color:         $inverse-global-emphasis-color;
$inverse-navbar-nav-item-active-color:          $inverse-global-emphasis-color;
$inverse-navbar-item-color:                     $inverse-global-color;
$inverse-navbar-toggle-color:                   $inverse-global-color;
$inverse-navbar-toggle-hover-color:             $inverse-global-emphasis-color;

// Search variables
$search-default-background:                     #fff;
$search-default-focus-background:               #fff;
$inverse-search-default-background:             rgba(0, 0, 0, 0.3);
$inverse-search-default-focus-background:       rgba(0, 0, 0, 0.5);

// Section variables
$section-success-background:                    $global-success-background;
$section-success-color-mode:                    light;
$section-danger-background:                     $global-danger-background;
$section-danger-color-mode:                     light;
$section-large-padding-vertical-m:              120px;